<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <title>titre {{ titre }}</title>
	<link rel="stylesheet" type="text/css" href="web/css/" />
	<style type="text/css">
	</style>
</head>
<body>
<h1>Bienvenue {{ nom }}</h1>
<br/>
<img src="assets/uploads/{{ avatar }}"/>

<script type="text/javascript" src="web/js/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function()
{
alert("ok");
});
</script>
</body>
</html>
