<h2>Tuto 2 : utilisation d'un moteur de template</h2>

<h3><a href="https://twig.symfony.com/" target="_blank">twig</a></h3>

Cette page HTML a été généré depuis le script PHP tuto2.php avec le moteur de templates twig.<br/>
<br/>
Comme il s'agit d'une page HTML classique, on peut lui affecter du style selon les méthodes habituelles : feuille externe (< link rel...>),
style interne (balise style) ou directement dans une balise sémantique.<br/>
<br/>
<div style="width:35%;height:64px;border:2px solid #ccc;padding:10px;margin:10px;text-align: center;font-size:1.5em;">
Ce texte est contenu dans une div à laquelle on applique du style.
</div>