<form method="POST" action="">
<div>
  <label for="">Désignation</label><br/>
  <input type="text" id="" name="" placeholder="" value="" />
</div>

<div>
  <label for="">Description</label><br/>
  <textarea id="" name="" cols="45" rows="5"></textarea>
</div>

<div>
  
</div>


<button id="" name="" type="submit">Valider</button>
<button id="" name="" type="button">Annuler</button>
</form>
